#Header{
    display: block;
    text-align: center;
}
#Nombre-tienda{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: italic;
}
.Navegador{
    display: flex;
    border-bottom: 1px solid black;
    place-content: center;
    font-size: 35px;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#Main{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.Texto{
   font-family: Arial, Helvetica, sans-serif;
}
#Texto-copy{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#Section-nosotros{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#Texto-nosotros{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 25px
}

h2{
    color: rgb(180, 37, 37);
    font-size: 40px;
}
li{
    list-style-position: inside;
}
span{
    color: blue;
}
#Section-categorias-principal{
    display: flex;
    justify-content: center;
}
#Section-categorias-principal section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    justify-content: space-around;
    gap: 30px;
}
#Section-categorias-principal div{
    display: grid;
    justify-content: center;
    justify-items: center;
}
#Titulo-categorias{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.imagen-cat{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#Titulo-nuestros-productos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#Main{
    display: flex;
    flex-direction: column;
    grid: 250px;
    justify-content: center;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 20px;
}
#Main li{
    display: grid;
    color: blue;
}
#Main div{
    display: grid;
    border: 2px solid black;
    justify-content: center;
    text-align: center;
    justify-items: center;
    border-radius: 10px;
    font-size: 25px;
    padding: 20px;
}
#Main section{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
   
}
#Main button{
    background-color: rgb(109, 109, 241);
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
#Footer{
   display: flex; 
   flex-direction: row;
   justify-content: center;
   justify-content: space-around;
   background-color: rgb(240, 237, 237)
}

.Section-categorias{
    flex-direction: column;
}

#Footer h2{
    font-family: Arial, Helvetica, sans-serif;
}
.Navegador2{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
#Producto1{
    grid-column: 1/3;
}

#Producto4{
    grid-column: 2/4;
}
#Producto5{
    grid-column: 1/3;
}

@media (max-width: 768px){
    #Header nav{
        display: flex;
        flex-direction: column;
    }
    .Navegador{
        font-size: 20px;
    }
    #Section-categorias-principal section{
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: center;
        justify-content: space-around;
        gap: 30px;
    }
    #Section-categorias-principal img{
        width: 170px;
    }
    #Main section{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        justify-content: center;
        justify-content: space-between;
        gap: 20px;
        margin: 20px;
    }
    #Main div{
        display: grid;
        border: 2px solid black;
        justify-content: center;
        text-align: center;
        justify-items: center;
        border-radius: 10px;
        font-size: 15px;
        padding: 20px;
    }
    #Main button{
        background-color: rgb(109, 109, 241);
        border-radius: 10px;
        font-size: 15px;
        color: white;
    }
    #Texto-nosotros{
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        font-size: 10px
    }
    #Footer{
        display: flex; 
        flex-direction: row;
        justify-content: center;
        text-align: center;
        justify-content: space-around;
        background-color: rgb(240, 237, 237)
     }
     .Navegador2{
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    img{
        width: 100px;
    }
    h2{
        color: rgb(180, 37, 37);
        font-size: 20px;
    }
    #Producto1{
        grid-column: 1/2;
    }
    
    #Producto4{
        grid-column: 2/3;
    }
    #Producto5{
        grid-column: 1/2;
    }
}
@media (max-width: 480px){
    #Header nav{
        display: flex;
        flex-direction: column;
    }
    #Nombre-tienda{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-style: italic;
    }
    .Navegador{
        font-size: 20px;
    }
    #Section-categorias-principal section{
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: center;
        justify-content: space-around;
        gap: 30px;
    }
    #Section-categorias-principal img{
        width: 80px;
    }
    #Main section{
        display:grid;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;
        justify-content: space-between;
        gap: 20px;
        margin: 20px;
    }
    #Main div{
        display: grid;
        border: 2px solid black;
        justify-content: center;
        text-align: center;
        justify-items: center;
        border-radius: 10px;
        font-size: 7px;
        padding: 20px;
    }
    #Main button{
        background-color: rgb(109, 109, 241);
        border-radius: 10px;
        font-size: 8px;
        color: white;
    }
    #Texto-nosotros{
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
        font-size: 6px
    }
    #Footer{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        text-align: center;
        justify-content: space-around;
        background-color: rgb(240, 237, 237)
     }
     .Navegador2{
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    #Texto-copy{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 10px;
    }
    img{
        width: 100px;
    }
    h2{
        color: rgb(180, 37, 37);
        font-size: 15px;
    }
    #Producto1{
        grid-column: 1/2;
    }
    
    #Producto4{
        grid-column: 1/2;
    }
    #Producto5{
        grid-column: 1/2;
    }
    
}